@charset "utf-8";
/* CSS Document */

/* =Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ----- clear fix for floats ----- */
.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

/* hides clearfix from IE-mac */
.clearfix {
    display: block;
}

/* end hide from IE-mac */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    margin: 0 auto !important;
    display: inline-block;
}

.alignnone {
    clear: both;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
    width: 0;
}

.centered {
    text-align: center;
}

.absolute {
    position: absolute;
    width: 100%;
    margin-left: -35px;
}

/* End Clearfix
--------------------------------------------------------------------------------------------------------*/

/* =Typography
--------------------------------------------------------------------------------------------------------*/
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

#content {
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #555;
    background: #222;
}

strong {
    font-weight: bold;
}

a, a > * {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

p {
    line-height: 1.5;
    padding: 10px 0px 0 0px;
}

p.small {
    font-size: 11px;
    margin-bottom: 0;
}

p.loadmore {
    font-size: 12px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.below-h3 {
    display: block;
    margin-top: -13px;
    padding-bottom: 10px;
    text-transform: uppercase
}

.below-huge-price {
    display: block;
    margin-top: -18px;
    font-weight: 600;
}

p.big {
    font-size: 15px;
}

p.big a {
    font-weight: 600;
}

p.blockquotetile {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 18px;
    padding-top: 18px;
    clear: both
}

/*.blockquotetile span {
    font: 11px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #8d8d8d;
    padding-top: 5px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
}*/

a {
    color: #2b2b2b;
    text-decoration: none;
    font-weight: 600
}

a:hover {
    text-decoration: none;
    color: #555;
}

em {
    font-style: italic
}

.uppercase {
    text-transform: uppercase
}

.line-through {
    text-decoration: line-through;
    color: #888;
    padding: 0 !important;
}

span.arrow {
    font: 13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-style: normal
}

/* End Typography
--------------------------------------------------------------------------------------------------------*/

/* =Headings
--------------------------------------------------------------------------------------------------------*/
h1#logo {
    position: relative;
    float: left;
    padding: 20px;
    z-index: 1;
    border-right: 1px solid #ccc;
}

h2, h3, h4, h2 a, h3 a, h4 a {
    line-height: 1;
    font-weight: 700;
    color: #2b2b2b;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-transform: uppercase
}

h2 a:hover, h3 a:hover, h4 a:hover {
    color: #2b2b2b;
}

h2 {
    font-size: 48px;
    padding-bottom: 9px;
    padding-top: 16px;
    letter-spacing: -1px;
}

h3 {
    font-size: 30px;
    padding-bottom: 9px;
    padding-top: 20px;
    letter-spacing: -1px;
}

h4, .blog h2 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 20px;
    letter-spacing: -1px;
}

.grey-area h4 {
    padding-top: 10px;
}

/* End Headings
--------------------------------------------------------------------------------------------------------*/

/* =Main Content
--------------------------------------------------------------------------------------------------------*/
/*.container { white-space: nowrap; }*/
#content .container {
    margin: 0 auto;
    height: 100%;
}

#containerisotope, #containerisotope-search {
    margin-right: auto;
    margin-left: auto;
}

.slider #content .container, .post #content .container, .cart #content .container {
    width: 960px;
}

header {
    background: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 55;
}

.col1-1 {
    width: 100%;
    margin: 10px;
    float: left;
    position: relative
}

.col1-1.nofavscard, .col1-1.nothingfound {
    width: auto;
}

.col1-1.combi {
    background: #fff;
}

.col3-3 {
    width: 940px;
    margin: 10px;
    float: left;
    position: relative
}

.col1-3 {
    width: 300px;
    margin: 10px;
    float: left;
    overflow: hidden
}

.combi .col1-3 {
    width: 300px;
    margin: 0;
    float: left;
}

.col2-3 {
    width: 620px;
    margin: 10px;
    float: left;
    overflow: hidden
}

.combi .col2-3 {
    width: 640px;
    margin: 0;
}

.height-400 {
    height: 400px
}

.col1-3.white-right, .col1-3.white, .col1-3.white-left, .white-bottom {
    padding: 10px 35px 31px 35px;
    background: #fff;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.col1-3.color-right, .col1-3.color, .col1-3.color-left, .color-bottom {
    padding: 10px 35px 0 35px;
    background: rgb(230, 230, 230);
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.white-bottom {
    position: relative
}

.white-bottom.grey-area-last, .white.grey-area-last {
    padding: 10px 35px 0px 35px;
}

.tab-tile {
    background: #fff;
}

.col1-3.white.p-small {
    padding: 20px 35px 31px 35px;
}

.white-right:before {
    content: '';
    height: 0;
    width: 0;
    border-width: 12px 12px 12px 12px;
    border-style: solid;
    border-color: rgba(251, 251, 251, 0) rgba(255, 255, 255, 1) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 25px;
    left: 616px;
}

.white-bottom:before {
    content: '';
    height: 0;
    width: 0;
    border-width: 12px 12px 12px 12px;
    border-style: solid;
    border-color: rgba(251, 251, 251, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 1) rgba(255, 255, 255, 0);
    position: absolute;
    top: -24px;
    margin-left: 0px;
}

a:visited .white-bottom:before {
    border-color: transparent transparent #fff transparent !important;
}

a:visited .white-right:before {
    border-color: transparent #fff transparent transparent !important;
}

.bottom-field {
    border-top: 1px solid #ccc;
    background: #f8f8f8;
    position: absolute;
    bottom: 0;
    left: 640px;
    display: block;
    width: 300px;
    padding: 8px 35px 19px 35px;
    text-transform: uppercase;
    color: #8d8d8d;
}

.grey-area {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    position: relative;
    display: block;
    width: 300px;
    padding: 15px 35px 25px 35px;
    text-transform: uppercase;
    color: #8d8d8d;
    margin: 25px 0 15px 0;
    margin-left: -35px;
}

.grey-area-fullwidth {
    border-top: 1px solid #ccc;
    background: #f8f8f8;
    position: relative;
    display: block;
    padding: 15px 35px 25px 35px;
    text-transform: uppercase;
    color: #8d8d8d;
    margin: 25px -35px 0 -35px;
}

.grey-area.smaller {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    position: relative;
    display: block;
    width: 300px;
    padding: 8px 35px 19px 35px;
    text-transform: uppercase;
    color: #8d8d8d;
    margin: 25px 0 0px 0;
    margin-left: -35px;
}

.grey-area.last {
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 0;
}

.col2-3 .grey-area {
    width: 620px;
}

.cart-single {
    text-transform: none;
}

ul#container {
    margin: 0 auto;
    position: relative
}

ul#container li {
    width: 270px;
    float: left;
    white-space: normal;
    list-style: none outside none;
    overflow: hidden;
    position: relative
}

ul#container li.col1-3 {
    width: 300px;
    height: auto;
    margin: 10px;
}

ul#container li.col1-3.double {
    width: 300px;
    height: auto;
    margin: 10px;
}

ul#container li.col2-3 {
    width: 620px;
    height: auto;
    margin: 10px;
}

/* =End Main Content
--------------------------------------------------------------------------------------------------------*/

/* =Secondary Content
--------------------------------------------------------------------------------------------------------*/
.break {
    height: 20px;
    position: relative;
}

.images {
    display: block;
    position: relative;
}

.overflow {
    overflow: hidden;
}

.button a {
    border: 1px solid #ccc;
    padding: 10px 15px 11px 15px;
    background: #fff;
    position: relative;
    font-size: 14px;
    display: inline-block
}

.price {
    font-size: 20px;
    padding-top: 18px;
    color: #2b2b2b;
}

.huge-price {
    font-size: 72px;
    font-weight: 700;
    color: #2b2b2b;
    text-align: center;
    display: block;
    margin-top: -11px;
}

.huge-price span {
    font-size: 42px;
    font-weight: 400;
}

.padding-right {
    padding-right: 30px;
}

.margin-right {
    margin-right: 10px;
}

/* =End Secondary Content
--------------------------------------------------------------------------------------------------------*/

/* =Lists
--------------------------------------------------------------------------------------------------------*/
ul.unordered-list {
    list-style: disc;
    line-height: 1.5;
    padding: 10px 0px 0 0px;
    margin-left: 18px;
    text-align: left !important;
}

ol.ordered-list {
    list-style: decimal;
    line-height: 1.5;
    padding: 10px 0px 0 0px;
    margin-left: 18px;
    text-align: left !important;
}

ul.unordered-list.floated li {
    float: left;
    margin-right: 40px;
}

/* =End Lists
--------------------------------------------------------------------------------------------------------*/

/* =Social
--------------------------------------------------------------------------------------------------------*/
ul.social {
    padding-top: 28px;
    margin-bottom: 6px;
    letter-spacing: 0;
    font-size: 0;
}

.social li {
    display: inline-block;
    margin: 0px 2px;
}

.social li a {
    display: block;
}

ul.social a {
    text-indent: -9000px;
    text-decoration: none;
    height: 24px;
    width: 24px;
}

.sharelayout {
}

.sharelayout img {
    width: 27px;
    height: auto;
    cursor: pointer;
    padding: 10px 10px 0 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: -3px;
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.sharelayout img:hover {
    opacity: 1;
}

.sharelayout #fav {
    float: right;
    margin-right: -7px;
}

/* End Social
--------------------------------------------------------------------------------------------------------*/

/* =Isotope
--------------------------------------------------------------------------------------------------------*/
.isotope-item {
    z-index: 2;
    -webkit-backface-visibility: hidden;
    overflow: hidden
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/*
!**** Isotope CSS3 transitions ****!
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; -ms-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property:    -moz-transform, opacity; -ms-transition-property:     -ms-transform, opacity; -o-transition-property:         top, left, opacity; transition-property:         transform, opacity; }
*/
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#options {
    width: auto; /*height:100px;*/
    z-index: 300;
    text-align: left;
    white-space: nowrap;
}

#options ul {
    margin: 0;
    list-style: none;
    padding: 17px 20px;
    padding-right: 0;
    float: left;
    border-left: 1px solid #ccc;
    position: relative;
    font-size: 0;
    margin-left: -1px
}

#options li {
    width: 90px;
}

#options li a {
    color: #888;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 19px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px;
}

#options li a:hover, #options li a.current, #options li a.selected {
    color: #2b2b2b;
}

#options ul li ul.other {
    position: absolute;
    list-style: none;
    left: 110px;
    top: 0px;
    height: 100%;
    min-height: 100%;
    padding: 17px 20px;
    border-left: 1px solid #ccc;
    font-size: 0;
    display: none
}

#options ul li ul.other li {
    width: auto;
}

#options ul li ul.other li a.selected {
    background: #f8f8f8
}

#options ul#homepage {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    min-height: 100%;
    padding: 0;
    border: 0;
    font-size: 0;
    display: block
}

#options ul#homepage li {
    display: inline-block;
    height: 100%;
    width: auto;
}

#options ul#homepage li a {
    display: inline-block;
    border-left: 1px solid #ccc;
    padding: 17px 20px;
    padding-right: 23px;
    height: 100%;
    font-size: 12px;
    margin: 0
}

#options ul#homepage li a.selected {
    background: #f8f8f8
}

.dead-link {
    cursor: default !important
}

/* End Isotope
--------------------------------------------------------------------------------------------------------*/